# Go build output
/bin/
/build/
*.exe
*.out
*.test

/cmd

# Go workspace
/go.work
/go.work.sum

# Vendor
/vendor/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Docker
**/app

# Data
data/
*.jsonl
*.csv
.env