@import "tailwindcss";

@layer base {
  :root {
    --color-background: oklch(100% 0 0);
    --color-foreground: oklch(9.8% 0.084 222.2);
    --color-card: oklch(100% 0 0);
    --color-card-foreground: oklch(9.8% 0.084 222.2);
    --color-primary: oklch(22.4% 0.048 222.2);
    --color-primary-foreground: oklch(98% 0.004 210);
    --color-secondary: oklch(96.1% 0.004 210);
    --color-secondary-foreground: oklch(22.4% 0.048 222.2);
    --color-muted: oklch(96.1% 0.004 210);
    --color-muted-foreground: oklch(53.9% 0.016 215.4);
    --color-destructive: oklch(72.1% 0.168 0);
    --color-destructive-foreground: oklch(98% 0.004 210);
    --color-border: oklch(91.4% 0.032 214.3);
    --color-input: oklch(91.4% 0.032 214.3);
    --color-ring: oklch(9.8% 0.084 222.2);
  }

  .dark {
    --color-background: oklch(9.8% 0.084 222.2);
    --color-foreground: oklch(98% 0.004 210);
    --color-card: oklch(9.8% 0.084 222.2);
    --color-card-foreground: oklch(98% 0.004 210);
    --color-primary: oklch(98% 0.004 210);
    --color-primary-foreground: oklch(22.4% 0.048 222.2);
    --color-secondary: oklch(35% 0.033 217.2);
    --color-secondary-foreground: oklch(98% 0.004 210);
    --color-muted: oklch(35% 0.033 217.2);
    --color-muted-foreground: oklch(71% 0.020 215);
    --color-destructive: oklch(45.3% 0.126 0);
    --color-destructive-foreground: oklch(98% 0.004 210);
    --color-border: oklch(35% 0.033 217.2);
    --color-input: oklch(35% 0.033 217.2);
    --color-ring: oklch(91.9% 0.027 212.7);
  }
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  margin: 0;
  min-height: 100vh;
}
